
::deep .chat-window {
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 10px;

    overflow-y: auto;
    color: #f8f9fa;
    margin-top: 20px;
}

::deep select {
    background-color: #333;
    color: #f8f9fa;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 15px;
}

::deep h1 {
    color: #f8f9fa;
}
